<html>
	<body>
		<center>
			<h1 style="background-color:tomato;border-color:blue;border-width:3px;border-style:solid;padding:1em;font-size:20px;color:floralwhite;">SABARMATI ASHRAM</h1>
			{% load static %}
			<img src="{% static '/images/sabarmatiashram.jpeg' %}" alt="my image" style="height:420px;width:550px;">
			<h2 align="justify" style="font-size:20px;color:maroon;font-family:verdana;">
				The Sabarmati Ashram is located on the banks of the River Sabarmati and was the abode of Mahatma Gandhi. This ashram is a haven of peace and serenity. The ashram is important because it was from here that the Mahatma had launched his non-violent struggle for India’s freedom. Tourists always make it a point to come here and pay their respects at this holy site. There is also the famous Gandhi Sangrahalaya or Museum which has to be visited and it was inaugurated by Jawaharlal Nehru in 1963. A lot of items from Gandhi’s own collection can be found here like his writing desk, khadi kurta, photographs, letters and more. One can also find the charkha, or the spinning wheel, which has now become the symbol of India.
			</h2>
		</center>
	</body>
</html>