<html>
	<body>
		<center>
			<h1 style="background-color:tomato;border-color:blue;border-width:3px;border-style:solid;padding:1em;font-size:20px;color:floralwhite;">AKSHARDHAM TEMPLE</h1>
			{% load static %}
			<img src="{% static '/images/akshardham.jpg' %}" alt="my image" style="height:420px;width:550px;">
			<h2 align="justify" style="font-size:20px;color:maroon;font-family:verdana;">
				The Akshardham Temple is much revered because it was the first temple of the Swaminarayam sect. The temple has a huge complex and many people come here to experience the peace and calm of the place. The Akshardham Temple is painted with bright colors and the arches and brackets are beautifully highlighted with these amazing patterns. The strong colors are perfectly balanced with the delicate designs. The color palette, is in fact the beautiful depiction of the culture of the city and the state. Also, when heritage walks are organized in the city, this temple is one of the starting points. The temple is a must- visit if you are interested in the art and architecture of the bygone era.
			</h2>
		</center>
	</body>
</html>