<html>
	<body>
		<center>
			<h1 style="background-color:tomato;border-color:blue;border-width:3px;border-style:solid;padding:1em;font-size:20px;color:floralwhite;">ADALAJ VAV</h1>
			{% load static %}
			<img src="{% static '/images/adalajvav.jpg' %}" alt="my image" style="height:420px;width:450px;">
			<h2 align="justify" style="font-size:20px;color:maroon;font-family:verdana;">
				Adalaj ni Vav or Rudabai’s Vav is a stepwell located in the village of Adalaj due to which it is known as Adalaj ni Vav. It is close to Ahmedabad city and in Gandhinagar district in the Indian state of Gujarat. It was built in 1498 by Rana Veer Singh of the Vaghela dynasty of Dandai Desh. It is an example of Indian Architecture work.The step well or ‘Vav’, as it is called in Gujarati, is intricately carved and is five stories deep. Such step wells were once integral to the semi-arid regions of Gujarat, as they provided water for drinking, washing and bathing. These wells were also venues for colourful festivals and sacred rituals.
			</h2>
		</center>
	</body>
</html>